{% extends 'base.html' %}
{% load i18n %}

{% block titulo %}{% trans 'Lista de pacientes' %}{% endblock titulo %}
    
{% block contenido %}
<h1>{% trans 'Lista de pacientes' %}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Apellido paterno' %}</th>
            <th>{% trans 'Apellido materno' %}</th>
            <th>{% trans 'Fecha de nacimiento' %}</th>
            <th>{% trans 'No. Seguro social' %}</th>
            <th>{% trans 'Tipo de sangre' %}</th>
            
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}