{% extends 'base.html' %}
{% load i18n %}
{% block titulo %}Lista de pacientes{% endblock titulo %}
    
{% block contenido %}
<h1>{% trans 'Datos del Paciente' %} {{paciente}}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Apellido paterno' %}</th>
            <th>{% trans 'Apellido materno' %}</th>
            <th>{% trans 'Fecha de nacimiento' %}</th>
            <th>{% trans 'No. Seguro social' %}</th>
            <th>{% trans 'Tipo de sangre' %}</th>
            <th>{% trans 'Estado' %}</th>
            <th>{% trans 'Municipio' %}</th>
            
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            <td>{{paciente.estado}}</td>
            <td>{{paciente.municipio}}</td>
            
        </tr>
        
    </tbody>
</table>
{% endblock contenido %}