{% extends 'base.html' %}

{% block titulo %}Lista de pacientes{% endblock titulo %}

    
{% block contenido %}

<div class="btn-group">
    <a title="Grafica Tipo de Sangre" class="btn btn-danger" href="{% url 'pacientes:grafica'%}">
        grafica por tipo sangre
    </a>
    <a title="Grafica Edad" class="btn btn-success" href="{% url 'pacientes:grafica_edad'%}">
        grafica por edad
    </a>
    <a title="pacientesPDF" class="btn btn-warning" href="{% url 'pacientes:lista_pdf'%}">
        Generar PDF lista de pacientes
    </a>
</div>

<h1>Lista de pacientes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Fecha de nacimiento</th>
            <th>No. Seguro social</th>
            <th>Tipo de sangre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            <td>
                <a title="Actualiza paciente" class="btn btn-warning" href="{% url 'pacientes:editar' paciente.id %}">
                    <i class="far fa-edit"></i>
                </a>
                <a title="Elimina paciente" class="btn btn-danger" href="{% url 'pacientes:eliminar' paciente.id %}">
                    <i class="far fa-trash-alt"></i>
                </a>
                <a title="Elimina paciente" class="btn btn-success" href="{% url 'pacientes:paciente_pdf' paciente.id %}">
                    Datos Paciente PDF
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-2" aria-disabled="true">&laquo; first</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
        
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a> </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
  </nav>
{% endblock contenido %}
    