{% extends 'base.html' %}
{% load static %}

{% block titulo %}Lista de pacientes{% endblock titulo %}

    
{% block contenido %}

<div class="btn-group">
    <a title="Grafica Tipo de Sangre" class="btn btn-danger" href="{% url 'pacientes:grafica'%}">
        grafica por tipo sangre
    </a>
    <a title="Grafica Edad" class="btn btn-success" href="{% url 'pacientes:grafica_edad'%}">
        grafica por edad
    </a>
    <a title="pacientesPDF" class="btn btn-warning" href="{% url 'pacientes:lista_pdf'%}">
        Generar PDF lista de pacientes
    </a>
</div>

<h1>Lista de pacientes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Fecha de nacimiento</th>
            <th>No. Seguro social</th>
            <th>Tipo de sangre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            <td>
                <a title="Actualiza paciente" class="btn btn-warning" href="{% url 'pacientes:editar' paciente.id %}">
                    <i class="far fa-edit"></i>
                </a>
                <a title="Elimina paciente" class="btn btn-danger" href="javascript:eliminarPacienteModal('{% url 'pacientes:eliminar' paciente.id %}')">
                    <i class="far fa-trash-alt"></i>
                </a>
                <a title="PDF paciente" class="btn btn-success" href="{% url 'pacientes:paciente_pdf' paciente.id %}">
                    Datos Paciente PDF
                </a>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" id="btnEliminarPacienteModal" class="btn btn-danger" data-toggle="modal" data-target="#modal_eliminar_paciente">Eliminar</button>

<div class="modal fade" id="modal_eliminar_paciente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar paciente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro de que deseas eliminar este paciente?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <a id="EliminarPaciente" class="btn btn-danger" href="#">Eliminar</a></button>
      </div>
    </div>
  </div>
</div>


<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-2" aria-disabled="true">&laquo; first</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
        
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a> </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
  </nav>


<script>
    function eliminarPacienteModal(url){
        document.querySelector("#EliminarPaciente").setAttribute('href',url);
        document.querySelector("#btnEliminarPacienteModal").click();
    }
</script>
{% endblock contenido %}
    