{% extends 'base.html' %}
{% load i18n %}
{% block titulo %}{% trans 'Lista de articulos' %}{% endblock titulo %}

{% block contenido %}
<div class="contenedor">
    <h1>{% trans 'Lista de articulos' %}</h1>
</div>

<div class="album py-5 bg-ligth">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">

        {% for articulo in object_list %}
            

            <div class="col mb-4">
                <img class="card-img-top" src="{{  MEDIA_URL }}/{{ articulo.imagen }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ articulo.nombre}}</h5>
                    <p class="card-text"><i>{{ articulo.descripcion }}</i></p>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Stock: {{articulo.stock}}</li>
                    <li class="list-group-item">{% trans 'Precio' %}: <h5 id="presio">{{ articulo.precio }}</h5> </li>

                    <li class="list-group-item"> {% trans 'Cantidad' %}:
                            <div class="form-group">

                                <form action="{% url 'articulos:comprar' %}" method="POST">
                                    <input type="text" name="id" value="{{ articulo.id }}" hidden > 
                                    {% csrf_token %}
                                    <select class="form-control" name="cantidad" >
                                        {% with ''|center:articulo.stock as range %}
                                        {% for _ in range %}
                                            <option name="opcion">{{ forloop.counter }}</option>
                                        {% endfor %}.0
                                        {% endwith %}
                                    </select>

                                    <div class="card-body text-center">

                                        {% if articulo.stock > 0 %}
                                            <div class="btn btn-success">
                                                <i class="fas fa-cart-plus">
                                                    <input class="btn" type="submit" value="{% trans 'Agregar al carrito' %}">
                                                </i>
                                            </div>
                                        {% else %}

                                            <i class="fas fa-times-circle"></i> {% trans 'Sin existencias' %}

                                        {% endif %}

                                    </div>

                                </form>
                            </div>
                    </li>
                    </ul>
                </div>
                

                </div>

            
        {% endfor %}

        </div>
    </div>
</div>


<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-2" aria-disabled="true">&laquo; first</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
        
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a> </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
  </nav>
{% endblock contenido %}
    