{% extends 'base.html' %}

{% block titulo %}Lista de articulos{% endblock titulo %}

{% block contenido %}

<h1>Tu carrito</h1>

{% for valor in object_list %}
<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{  MEDIA_URL }}/{{ valor.0.imagen }}" class="card-img" alt="Card image cap" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ valor.0.nombre }}</h5>
          <p class="card-text">{{ valor.0.descripcion }}</p>
          <p class="list-group-item">Cantidad = {{ valor.1 }}</p>
          <p class="list-group-item">Precio = ${{ valor.0.precio }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% if request.session.total > 0 %}
<div class="card text-center">
  <div class="card-header" >
    Total= ${{ request.session.total|floatformat:2 }}
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#modal-default">
      Finalizar Compra
    </button>
    
  </div>
</div>
{% else %}
<div class="card text-center">
  <div class="card-header" >
    El carrito está vacío, ve a la lista para agregar articulos.
  </div>
  <div class="card-body">
    <a href="{% url 'articulos:lista'%}" class="btn btn-success btn-lg btn-block">
      Ir a la lista de articulos
    </a>
    
  </div>
</div>
{% endif %}
  



 <!-- /.modal -->

 <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Finaliza Compra</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Quiéres confirmar la compra?&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'articulos:confirmaCompra' user.pk %}" class="btn btn-success btn-lg btn-block">Comprar ahora</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock contenido %}
